<?xml version="1.0" encoding="utf-8"?>
 <widget xmlns = "http://www.w3.org/ns/widgets"
   xmlns:gap = "http://phonegap.com/ns/1.0"
   id     = "com.phonegap.example10"
   versionCode = "10"
   version ="1.0.0">
   
 <!--versioncode is optional and Android only -->
 
 <name>APP10  Piano</name>
 
 <description>
   Utiliza plugins de audio con un piano y las 7 notas musicales Junio 2016
 </description>
 
 <preference name="phonegap-version" value="3.1.0"/>
 
 <preference name="orientation" value="landscape"/>
  
 <author href="https://build.phonegap.com" email ="support@phonegap.com">
 Yessica Perez Morales
 </author>
 
 <gap:plugin name ="org.apache.cordova.device" version="0.2.12"/>
 <gap:plugin name="org.apache.cordova.vibration" version="0.3.0"/>
 <gap:plugin name="org.apache.cordova.dialogs" version="0.2.6"/>
 <gap:plugin name="org.apache.cordova.geolocation" version="0.3.10"/>
 <gap:plugin name="org.apache.cordova.device-motion" version="0.2.10"/>
 <!--Plugin de audio-->
 <gap:plugin name="com.rjfun.cordova.plugin.lowlatencyaudio" version="1.0"/>
 
 
 <!--colocar icono app -->
 
  <icon src ="res/android/mdpi.png"/>
 </widget>